<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTjy-obfwQrfYjlNjgmE7Acx4LiFLZfueOYDePAcMOgus8lo7jJ" />
<link rel="apple-touch-icon" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTjy-obfwQrfYjlNjgmE7Acx4LiFLZfueOYDePAcMOgus8lo7jJ" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/header.ejs %>
  
<script>
function callChatWithInitials(room)
{
    var inh = $('#fld_initials').val();
    //if (inh === '')
    if (inh.length == 0)
    { 
        inh = 'Anonymous'; 
    }
    var url = '/chat/' + inh + '/' + room;
    //alert(url);
    window.open(url, "_self");
}    
</script>
  
</head>

<body>
<!--
  <% include ../partials/nav.ejs %>
  -->

<div class="container">
  <h2>Chit Chatty</h2>
  <p>Chit and Chat w/ your friends and strangers. 
  nobody lies and nobody cries
  </p>            
  <table class="table">
    <thead>
      <tr>
        <th>Chat Room</th>
        <th>Chat</th>
        <th>Invites</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td><div class="col-xs-4"> <a href="javascript:callChatWithInitials('Scream Queens')" class="lang-logo"> Scream Queens  </a> </div>
        </td>
        <td><a type="button" class="btn btn-lg btn-default" href="tel:641-715-3580,812789#">tel</td>
        <td>Julia, Lea, Dad, mom, Al, billy</td>
      </tr>
      <tr class="danger">
        <td> <a href="javascript:callChatWithInitials('cnn');" class="lang-logo"> CNN </a>
        </td>
        <td><a type="button" class="btn btn-lg btn-default" href="tel:641-715-3580,812789#">tel</td>
        <td>Everyone</td>
      </tr>
      <tr class="info">
      
        <td> <a href="javascript:callChatWithInitials('room2');" class="lang-logo"> Room 2 </a>
        <td><a type="button" class="btn btn-lg btn-default" href="tel:641-715-3580,812789#">tel</td>
        <td>Ty, Mom, Dad, bobo</td>
      </tr>
      <tr class="danger">
        <td> <a href="javascript:callChatWithInitials('Commando');" class="lang-logo"> Commando </a>
        </td>
        <td><a type="button" class="btn btn-lg btn-default" href="tel:641-715-3580,812789#">tel</td>
        <td>Everyone</td>
      </tr>
    </tbody>
  </table>
</div>  
  
  


<div class="jumbotron text-center">
  <div class="container">
  <a href="./anytaxi" class="lang-logo">  <img src="/taxi.svg"> </a>
    <h1>Chit chatty</h1>
    
<div class="row">
  <div class="col-xs-4"> <a href="./chat" class="lang-logo">  <img src="/text.svg"> </a> </div>
  <div class="col-xs-4"> <a href="./chat" class="lang-logo">  <img src="/talksq.svg"> </a> </div>
  <div class="col-xs-4"> <a href="./chat" class="lang-logo">  <img src="/talksq.svg"> </a> </div>
</div>    
    
    
    
<a href="tel:641-715-3580,812789#" class="lang-logo">  <img src="/talk.svg"> </a> 

  <div class="col-xs-4" > <a href="./chat" class="lang-logo">  <img src="/text.svg"> </a> </div>
  <div class="col-xs-4" > <a href="./chat" class="lang-logo">  <img src="/talksq.svg"> </a> </div>
  <div class="col-xs-4"> <a href="./chat" class="lang-logo">  <img src="/talksq.svg"> </a> </div>
 
   <div class="row">
   
   <div class="col-xs-4"> <a href="./chat" class="lang-logo">  <img src="/text.svg"> </a> </div>
  <div class="col-xs-4"> <a href="./chat" class="lang-logo">  <img src="/talksq.svg"> </a> </div>
  <div class="col-xs-4"> <a href="./chat" class="lang-logo">  <img src="/talksq.svg"> </a> </div>

  </div>





<a href="./chat" class="lang-logo">  <img src="/text.svg"> </a>  <br/>
<a href="./anytaxi" class="lang-logo">  <img src="/taxi.svg"> </a>
<!--   
    <a type="button" class="btn btn-lg btn-default" href="./chat"><span class="glyphicon glyphicon-flash"></span>Text</a>
    <br/><a type="button" class="btn btn-lg btn-default" href="tel:641-715-3580,812789#"><span class="glyphicon glyphicon-flash"></span> party line<br/> (641)-715-3580,812789#</a>
    <br/><a type="button" class="btn btn-lg btn-default" href="./anytaxi"><span class="glyphicon glyphicon-flash"></span> Any Taxis</a>    
-->    
    
    </div>


</div>


<div class="container">
  <div class="alert alert-info text-center" role="alert">

    <div>
  <hr>
    
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Test</h3>
      <ul>
        <li>Enter Initials: <input type="text" id="fld_initials" name="fld_initials" maxlength="3" size="4">

        </li>
        <li> <a href="./index22" class="lang-logo"> index22(rooms) </a></li>
        <li>*<a href="/telleveryone/chat/123">Who at the chicken?</a></li>
        <li>be a taxi.</li>
        <li> <a href="https://addons.heroku.com/">call home</a>.</li>
        <li>pick me up <a href="./anytaxis">here</a>!</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
</body>
</html>
